
.list {
    column-count: 4;
   -webkit-column-count:4;
        -moz-column-count:4;
}
.letter {
    font-size: 140%;
    font-weight: bold;
    padding-right: 10px;
    vertical-align: baseline;
    line-height: 0px;
    min-width: 25px;
    text-align: center;
}
.letterspan {
    vertical-align: 7px;
}
.funcs {
    padding-top: 12px;
    padding-bottom: 8px;
}
.regular {
    vertical-align: baseline;
}
