body { 
  font-family: garamond, palatino, times, serif ;
  background-color: #dddddd;
  color: black;
  margin: 0px;
  padding: 5px;
}

.top {
    text-align: center;
    }

iframe {
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 90%;
    }

.main {
  background-color: white;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 900px;
}    

.title {
    display: block;
    font-size: 160%;
    font-weight: bold;
    padding-left: 0px;
    margin-bottom: 5px;
}
.tagline {
    display: block;
    padding-left: 15px;
    font-style: italic;
}

.doc {
    padding-left: 30px;
}

.pyhelp {
    padding-left: 30px;
}

.pysig {
    padding-left: 30px;
}

.pysighead {
    padding-left: 15px;
    padding-top: 25px;
    margin-bottom: -10px;
    font-size: 120%;
    font-weight: bold;
}

.pyhelphead {
    padding-left: 15px;
    padding-top: 0px;
    margin-bottom: -10px;
    font-size: 120%;
    font-weight: bold;
}

.dochead {
    padding-left: 15px;
    padding-top: 25px;
    margin-bottom: -10px;
    font-size: 120%;
    font-weight: bold;
}

.eghead {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 120%;
    font-weight: bold;
}

.inlineeg {
    font-family: ubuntu, sans;
    font-size: 85%;
}
.inlineeg:before {
    font-family: garamond, palatino, times, serif ;
    font-size: 118%;
    content: "“";
}
.inlineeg:after {
    font-family: garamond, palatino, times, serif ;
    font-size: 118%;
    content: "”";
}

.example {
    font-family: ubuntu, sans;
    font-size: 85%;
    padding-left: 30px;
    margin-bottom: 15px;
}

.egcontainer {
    padding: 0px;
    margin: 0px;
    min-height: 400px;
}

.egimage {
    padding: 25px;
    margin-right: -15px;
    padding-top: 30px;
    float: right;
    background-color: white;
}

.egimg {
    border: 5px;
    border-style: outset;
    border-color: #aaaaaa;
    padding: 5px;
    background-color: white;
}

.tail {
    padding: 15px;
    margin-top: -20px;
    margin-left: auto;
    width: 900px;
    margin-right: auto;
    background-color: #eeeeee;
}


:link {
    background-color: inherit; color: #0000dd; text-decoration: none;
}
:visited {
    background-color: inherit; color: #440077;
}
:hover {
    background-color: inherit; color: #ff0000;
}

.tmlink:link {
    font-weight: bold;
}
.tmlink:visited {
    font-weight: bold;
}
.tmlink:hover {
    font-weight: bold;
}

.toindex {
    float: right;
}
.tight {
    margin-top: 0px;
    padding-top: 2px;
}
.index {
    float: right;
    padding-top: 10px;
}

.toidx {
    display: block;
    text-align: left;
}

.eglink {
    padding-left: 15px;
}

.egimg:hover {
    color: black;
    }

p.eg {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
}
p.empty {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qpt {
    display:inline-block;
    margin-left: 25px;
    border-color: #333333;
    border-style: outset;
    border-width: 3px;
    padding: 5px;
    min-width: 0px;
    }

