body { 
  font-family: garamond, palatino, times, serif ;
  background-color: #dddddd;
  color: black;
  margin: 0px;
  padding: 5px;
}

.main {
  background-color: white;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 900px;
}    

.title {
    display: block;
    font-size: 160%;
    font-weight: bold;
    padding-left: 0px;
    margin-bottom: 5px;
}
.tagline {
    display: block;
    padding-left: 15px;
    font-style: italic;
}

.doc {
    padding-left: 30px;
}
    
.dochead {
    padding-left: 15px;
    padding-top: 25px;
    margin-bottom: -10px;
    font-size: 120%;
    font-weight: bold;
}

.eghead {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 120%;
    font-weight: bold;
}

.example {
    font-family: ubuntu, sans;
    font-size: 85%;
    padding-left: 30px;
    padding-bottom: 5px;
}

.egimage {
    padding: 25px;
    margin-right: -15px;
    padding-top: 30px;
    float: right;
    background-color: white;
}

.egimg {
    border: 5px;
    border-style: outset;
    border-color: #aaaaaa;
    padding: 5px;
    background-color: white;
}

.tail {
    padding: 15px;
    margin-top: -20px;
    margin-left: auto;
    width: 900px;
    margin-right: auto;
    background-color: #eeeeee;
}


:link {
    background-color: white; color: #0000dd; text-decoration: none;
}
:visited {
    background-color: white; color: #440077;
}
:hover {
    background-color: white; color: #ff0000;
}

.tmlink:link {
    font-weight: bold;
}
.tmlink:visited {
    font-weight: bold;
}
.tmlink:hover {
    font-weight: bold;
}

.toindex {
    float: right;
}
.tight {
    margin-top: 0px;
    padding-top: 2px;
}
.index {
    float: right;
    padding-top: 10px;
}

.toidx {
    display: block;
    text-align: left;
}

.eglink {
    padding-left: 15px;
}

.egimg:hover {
    color: black;
    }
