[Desktop Entry]
Name=QPlot
GenericName=QPlot
Comment=Publication-quality 2D scientific plotting
Exec=qplot %f
Terminal=false
Type=Application
Categories=Science
Icon=/usr/share/pixmaps/qplot.svg

