body { 
  background-color: #d8d8d8;
  color: black;
  font-family: "Noto Serif", serif;
  font-size: 12pt;
}


#sidebar {
    background-color: #e2e2e2;
    color: black;
}

#sidebar a:link {
    color: black;
}


#sidebar a:visited {
    color: black;
}

#sidebar a:hover {
    color: #ff0000;
}


.logography {
    background-color: #660000;
    color: white;
}

#sidebar .project a:visited, #sidebar .project a:link {
    color: white;
}

#sidebar .project a:hover {
    color: #ffcccc;
}

.project {
    font-size: 140%;
    font-weight: bold;
}

.ptagline {
    font-size: 100%;
    font-style: italic;
    font-weight: 465;
}

#central {
  background-color: white;
}

.titleblock, .sectitleblock, .idxtitleblock {
    background-color: #eeeeee;
}

.menubutton {
    font-size: 160%; 
    font-weight: bold;
    color: black;
    background-color: #cccccc;
}

.funcname {
    font-size: 160%;
    font-weight: bold;
    background-color: #e2e2e2;
}

.tagline {
    font-style: italic;
    font-size: 110%;
    font-weight: 450;
}

.sectitle, .idxtitle {
    font-size: 160%;
    font-weight: bold;
    /* font-style: italic; */
    color: #bb0000;
}

.breadcrumb-2 > .bcheader {
    /* font-style: italic; */
}

.qp {
    font-weight: normal;
}

.qp a:link {
    font-weight: bold;
}
.mefunc {
    font-weight: bold;
    color: #bb0000;
}

.arg {
    font-style: italic;
    font-weight: bold;
    color: #bb6600;
}

.pykw {
    font-weight: bold;
    color: #bb6600;
}

.pylit {
    font-weight: bold;
    color: #bb6600;
}
    

.pysighead {
    font-size: 120%;
    font-weight: bold;
}
    
.pyhelphead {
    font-size: 120%;
    font-weight: bold;
}

.dochead {
    font-size: 120%;
    font-weight: bold;
}

.eghead {
    font-size: 120%;
    font-weight: bold;
}

.inlineeg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inlineeg:before {
    font-family:  "Noto Serif", serif;
    font-size: 118%;
    content: "“";
}

.inlineeg:after {
    font-family:  "Noto Serif", serif;
    font-size: 118%;
    content: "”";
}

.example, .doceg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-size: 100%;
    font-style: normal;
}
.doceg {
    color: #660000; }

.egtopline, .egbottomline, .pylinkline {
    background-color: #aaaaaa;
}
.egimagetopline {
    background-color: #bb0000;
}
.egimagebottomline {
    background-color: #bb0000;
}
    
.footer {
    background-color: #eeeeee;
}


a:link {
    background-color: inherit; color: #0000dd; text-decoration: none;
}

a:visited {
    background-color: inherit; color: #0000dd; text-decoration: none;
}

a:hover {
    background-color: inherit; color: #ff0000; text-decoration: none;
}

.tmlink:link {
    font-weight: bold;
}

.tmlink:visited {
    font-weight: bold;
}

.tmlink:hover {
    font-weight: bold;
}

.indexheader {
    font-weight: bold;
    /* font-style: italic; */
    font-size: 120%;
}

h1 {
    font-weight: bold;
    font-size: 150%;
}

h2 {
    font-weight: bold;
    font-size: 130%;
}


.indexheader a:link {
    color: #660000;
}    
.indexheader a:visited {
    color: #660000;
}    
.indexheader a:hover {
    color: #ff0000;
}    

.fli-name {
    font-weight: bold;
}

.bcmark {
    color: #440000;
}

#sidebar .bchere > a:visited {
    color: #aa0000;
}
#sidebar .bchere > a:link {
    color: #aa0000;
}

.bcheader {
    font-weight: 465;
}

.breadcrumb-3 .bcheader {
    font-family: "Noto Sans", sans-serif;
    font-weight: 450;
}

.breadcrumb-2 > .bcchildren {
    border-color: #660000;
}

.breadcrumb-1 > .bcchildren {
    border-color: #660000;
}

.breadcrumb-3 .bchere {
    font-weight: 700;
}
    
.literal-block {
    font-family: "Noto Sans", sans-serif;
    font-weight: 410;
    font-size: 100%;
    font-style: normal;
    background-color: #ffffe2;
    border-bottom: 2px solid #cccccc;
    border-top: 1px solid #cccccc;
}

code {
        font-family: "Noto Sans", sans-serif;
}

.itick {
    font-weight: 700;
}

.reflink {
    font-weight: 700;
}

cite {
    font-family: "Noto Sans", sans-serif;
    font-weight: 450;
    font-size: 110%;
    font-style: normal;
}

u {
    font-family: "Noto Mono";
    text-decoration: none;
    margin-left: -1px;
    margin-right: -1px;
}

p.comment {
    color: #007979;
    font-style: italic;
}

.egimage {
    border-bottom: 2px solid #cccccc;
    border-top: 1px solid #cccccc;
}


.egouterblock {
    background-color: #ffffe2;
}

div.outimg {
    border-top: 1px solid #cccccc;
    padding-top: 10px;
    padding-bottom: 5px;
}

div.outimg img {
       border-top: 1px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}
