body {
    margin: 0px;
    padding: 0px;
}

.contents {
    padding-top: 0px;
    display: flex;
    min-height: 100vh;
    justify-content: left;
}

#sidebar {
    display: block;
    flex-shrink: 0;
    width: 180px;
    flex-grow: 1;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#rightspace {
    width: 180px;
    flex-grow: 1;
}

@media screen and (max-width: 1160px) {
    #sidebar {
        width: 180px;
        flex-grow: 0;
    }
    #rightspace {
        width: 0px;
    }
}

.centered {
    width: fit-content;
 }

@media screen and (max-width: 980px) {
    .rightspace {
        display: hidden
    }
}


#central {
    display: block;
    padding: 0px;
    flex-grow: 100;
    max-width: 800px;
    position: relative;
}

.menubutton {
    display: inline-block;
    width: 0px;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #sidebar {
        width: 0px;
    }
    #sidebar.alwaysshow {
        width: 150px;
    }
    .menubutton {
        width: auto;
        flex-shrink: 0;
        padding: 5px 5px 0px 5px;
    }
}


.logography {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.project {
}

.ptagline {
    padding-left: 15px;
}

.breadcrumbs {
    padding-top: 10px;
    padding-left: 5px;
    display: grid;
    justify-content: center;
}

.bcleft {
    display: inline-block;
    width: 10px;
    height: inherit;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

.bcinner {
    display: inline-block;
}

.breadcrumb-1 {
    display: block;
    padding-left: 10px;
    width: 200px;
}

.breadcrumb-1 > .bcinner {
    xxwidth: 110px;
}

.breadcrumb-2 {
    padding-left: 2px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 2px;
}

.breadcrumb-2 > .bcinner {
    xxwidth: 100px;
}

.breadcrumb-3 {
    padding-left: 2px;
    margin-top: 0px;
    margin-bottom: 1px;
}

.breadcrumb-3 > .bcinner {
    xxwidth: 80px;
}

.bchere > .bcchildren {
    border-left-style: solid;
    padding-left: 0px;
    margin-left: 18px;
    margin-top: 5px;
    padding-top: 0px;
}

.titleblock, .sectitleblock, .idxtitleblock {
    margin-top: 0px;
    margin-bottom: 15px;
    min-height: 50px;
    display: flex;
}

.funcname, .idxtitle, .sectitle {
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    vertical-align: middle;
}

.funcname .mefunc {
    display: inline;
}

.tagline {
    display: inline-block;
    margin: 0px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 13px;
    vertical-align: middle;
}


.funcdoc,.secdoc,.idxdoc,.rst {
    padding: 0px 15px 15px 15px;
}

.pysighead {
    padding-left: 15px;
    margin-top: 10px;
}

.pysig {
    padding-left: 30px;
}

.pyhelphead {
    padding-left: 15px;
    margin-top: 10px;

}

.pyhelp {
    padding-left: 30px;
}

.lutline {
    padding-left: 30px;
    margin-top: 0px;
}

.eghead {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.egtopline, .egbottomline {
    height: 1px;
}
.pylinkline {
    height: 0px;
}
.egimagetopline, .egimagebottomline {
    display: inline-block;
    height: 25px;
    width: 6px;
    padding: 0px;
}
.egimagetopline {
    margin-bottom: 275px;
}
.egimagebottomline {
    margin-top: 275px;
}
                       

.egtextblock {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    padding-left: 0px;
}

.example {
    padding-left: 30px;
    min-height: 312px;
}

.egcontainer {
    padding: 0px;
    margin: 0px;
}

.egouterblock {
    display: flex;
}

.egimageblock {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.egimage {
    display: block;
    padding: 0px;
    margin: auto 0px 6px auto;
    line-height: 0px;
}

.egimg {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.pylink, .pdflink {
    display: block;
    height: 0px;
    overflow: visible;
    position: relative;
    top: 0px;
}
.pylink {
    padding-left: 30px;
}
.pdflink {
    padding-left: 5px;
    width: 308px;
}

@media screen and (max-width: 760px) {
    .egouterblock {
        display: block;
    }
    .egimageblock {
        margin-top: 30px;
    }
    .pdflink {
        margin: auto 0px auto 0px;
        padding-left: 30px;
    }
    .egimage {
        margin: auto 0px auto 6px;
    }
    .pylinkline {
        height: 1px;
    }
}


.footerspace {
    height: 60px;
}

.footer {
    padding: 15px;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

    

p.eg {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
}

p.empty {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.indexcontent {
    padding-left: 15px;
    margin-bottom: 10px;
}

.fli-name {
    display: block;
}

.fli-spacer {
    display: none;
}

.fli-tagline {
    display: block;
    margin-left: 1.5em;
    margin-bottom: 5px;
}

.pylistitem {
    padding-left: 3em;
    text-indent: -1.5em;
}

.pypara {
    margin-bottom: 5px;
}

.pylistitem + .pypara {
    margin-top: 5px;
}

p {
    margin-top: 0px;
    margin-bottom: 5px;
}

h1 {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 5px;
}

h2 {
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.literal-block {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 20px 5px 20px;
}
    
.homeegs {
    text-align: center;
}

.homeeg {
    display: inline-block;
    margin: 20px 15px 20px 15px;
    text-align: left;
}

.homeeg img { 
    width: auto;
    height: 200px;
}

.homeeg img.large { 
    width: auto;
    height: 250px;
}

img.lut-full, img.lut-half {
    margin-top: 5px;
    margin-bottom: 10px;
}

img.lut-full {
    width: 100%;
}

img.lut-half {
    width: 50%;
}

.lutfamily {
    margin-top: 15px;
}

p {
    margin-top: 10px;
}

img.align-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
