body {
    margin: 0px;
    padding: 0px;
}

.contents {
    padding-top: 0px;
    display: flex;
    min-height: 100vh;
}

#sidebar {
    display: block;
    flex-shrink: 0;
    width: 150px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#central {
    display: block;
    padding: 0px;
    flex-grow: 1;
    max-width: 720px;
    position: relative;
}

.menubutton {
    display: inline-block;
    width: 0px;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #sidebar {
        width: 0px;
    }
    #sidebar.alwaysshow {
        width: 150px;
    }
    .menubutton {
        width: auto;
        flex-shrink: 0;
        padding: 5px 5px 0px 5px;
    }
}


.logography {
    padding: 10px;
}

.project {
}

.ptagline {
    padding-left: 15px;
}

.breadcrumbs {
    padding-top: 10px;
    padding-left: 5px;
}


.bcleft {
    display: inline-block;
    width: 10px;
    height: inherit;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

.bcmark:before {
    font-family: garamond, palatino, times, serif ;
    font-size: 118%;
    content: "»";
}

.bcinner {
    display: inline-block;
}

.breadcrumb-1 {
    display: block;
    padding-left: 10px;
}

.breadcrumb-1 .bcinner {
    width: 100px;
}

.breadcrumb-2 {
    padding-left: 25px;
    margin-top: 5px;
}

.breadcrumb-2 .bcinner {
    width: 80px;
}

.breadcrumb-3 {
    padding-left: 40px;
    margin-top: 1px;
}

.breadcrumb-3 .bcinner {
    width: 65px;
}

.titleblock, .sectitleblock, .idxtitleblock {
    margin-top: 0px;
    margin-bottom: 15px;
    min-height: 50px;
    display: flex;
}

.funcname, .idxtitle, .sectitle {
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    vertical-align: middle;
}

.funcname .mefunc {
    display: inline;
}

.tagline {
    display: inline-block;
    margin: 0px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 13px;
    vertical-align: middle;
}


.funcdoc,.secdoc,.idxdoc {
    padding: 0px 15px 15px 15px;
}

.pysighead {
    padding-left: 15px;
    margin-top: 10px;
}

.pysig {
    padding-left: 30px;
}

.pyhelphead {
    padding-left: 15px;
    margin-top: 10px;

}

.pyhelp {
    padding-left: 30px;
}

.eghead {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.egtopline, .egbottomline {
    height: 1px;
}

.egtextblock {
    flex-shrink: 1;
    flex-grow: 1;
    padding-left: 15px;
}

.example {
    padding-left: 30px;
    min-height: 300px;
}

.egcontainer {
    padding: 0px;
    margin: 0px;
    min-height: 348px;
    vertical-align: bottom;
}

.egouterblock {
    display: flex;
    align-items: bottom;
}

.egimageblock {
    width: 340px;
    flex-shrink: 0;
    flex-grow: 0;
}

.egimage {
    padding-right: 10px;
}

.egimg {
    padding: 0px;
    margin: 0px;
}    

.footer {
    padding: 15px;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.eglink {
    margin-top: -5px;
    padding-top: 4px;
    padding-left: 18px;
}

p.eg {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
}

p.empty {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.egpdflink {
    margin-top: -5px;
    padding-left: 3px;
}


.indexcontent {
    padding-left: 15px;
    margin-bottom: 10px;
}

.fli-name {
    display: block;
}

.fli-spacer {
    display: none;
}

.fli-tagline {
    display: block;
    margin-left: 1.5em;
    margin-bottom: 5px;
}

.pylistitem {
    padding-left: 3em;
    text-indent: -1.5em;
}
